.aboutpara{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.font{
    font-family: Roboto;
}
.back{
    background-image: url("./aboutimg1.jpg");
    width: 100%;
    background-repeat: no-repeat;
}